*, *::before, *::after {
    font-family: 'Open Sans', sans-serif;
}

/* body {
    background-color: ;
} */

.card-grid {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax( 300px, 1fr) );
    gap: 1rem;
    /* next: in case 1 card has too much text
        it fixes the extra space
    */
    align-items: flex-start;
}

.card {
    background-color: white;
    padding: 1rem;
    border: 1px solid #777;
    border-radius: .25rem;
}

.card.card-shadow {
    border: none;
    box-shadow: 0 2px 5px 0 rgba( 0,0,0,.2)
}

.card-header {
    font-size: 1.5rem;
    margin-bottom: .5rem;
}

/* 
    Select only the divs with the card-image class
    Overflow - hinders that the image
    gets bigger than its container
*/
.card-header.card-image {
    overflow: hidden;
}


/* 
    use Block to handle the image size
    width - img should use all the containers width
*/

/* 
    aspect ratio = might squeeze pic downwards
    object-fit = fixes the downwards and keeps the original aspect ratio
    object-fit does a slight zoom - img borders oveflow
*/

/* 
    Limit the max height of the img
    if user zooms in, img stays max 200px
*/
.card-header.card-image > img {
    display: block;
    width: 100%;
    max-height: 200px;
    aspect-ratio: 16/9;
    object-fit: cover;
    object-position: center;
}


.card-body {
    font-size: .9rem; 
}

.card-footer {
    margin-top: 1rem;
}

.btn {
    --color: hsl( 200, 50%, 50%);
    background: var( --color);
    color: white;
    border: none;
    font-size: 1rem;
    padding: .5em .75em;
    border-radius: .25em;
    cursor: pointer;
}

.btn:hover, .btn:focus {
    background: hsl( 200, 50%, 70%);
}

.btn.btn-outline {
    background: none;
    border: 1px solid var( --color);
    color: var(--color);
}

.btn.btn-outline:hover, .btn.btn-outline:focus {
    background: hsl( 200, 50%, 90%)
}

/* 
    When two buttons are next to each other
    Add an extra space in between them
*/
.btn + .btn {
    margin-left: .5rem;
}